node_modules
.git
*.debug
_DEBUG_
_DEBUG_.*
*.zip
*.tar.gz
*.tar
*.sql
*.js.map
*.css.map
*.LICENSE.txt

/*
!/intest1.php
/wp-content/*
/wp-content/themes/*

!.gitignore

!/wp-content
!/wp-content/themes
!/wp-content/themes/storefront-child

/wp-content/themes/storefront-child/vendor
/wp-content/themes/storefront-child/include/site-consts.php